# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Bench / Frappe
*.egg-info/
.eggs/
build/
dist/
node_modules/
assets/
sites/

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
